
<div class="list-title">{{list.title}}</div>

<div class="task-container">
  {{#each list.tasks as |task| }}
  <div class="task-title">
    <p>{{task.title}}</p>
  </div>
  {{/each}}

  <button class="add-task">Add New Task</button>
</div>

