* {
  font-family: Tahoma, Calibri, sans-serif;
  color: #333;
  box-sizing: border-box;
}
.app-header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  display: flex;
  font-size: 4vh;
  justify-content: flex-start;
  align-items: center;
  background-color: #69c;
  box-shadow: -1px 2px 2px #999;
}

.hammy {
  font-size: 1.5em;
  padding: 0px 5px;
  margin-top: -0.8em;
  margin-bottom: -0.25em;
}
.hammy::before {
  content: "☑";
  margin-right: -5vh;
  font-size: 2.5em;
  color: rgb(179, 188, 32);
}

.board-title {
  position: relative;
  margin-top: 7em;
}
.board-container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  height: 100%;
  min-height: 300px;
  overflow-x: auto;
}

.list-card {
  text-align: center;
  width: 180px;
  min-height: 240px;
  margin: 5px;
  background-color: rgba(179, 188, 32, 0.3);
  box-shadow: -1px 3px 3px #999;
}

.list-title {
  padding: 5px;
  border-bottom: 1px solid #999;
  background-color: rgba(179, 188, 32, 0.4);
}

.list-card button {
  padding: 10px;
  margin: 10px;
  background-color: rgba(179, 188, 32, 0.6);
}
.task-title, .add-list input, .list-card input {
  padding: 3px ;
  margin: 5px;
  font-size: 0.9em;
  background-color: rgba(250, 253, 250, 1);
  box-shadow: -1px 1px 2px #aaa;
  text-align: left;
}

.task-title>p::before {
  content: "[ ] "
}

.add-list input, .list-card input {
  opacity: 0.9;
}

/*.list-card:hover, .add-list:hover {
  transform: translateY(-1px);
  box-shadow: -1px 4px 4px #999;
}*/

.add-list {
  width: 180px;
  min-height: 240px;
  margin:  5px;
  padding: 30px 10px;
  text-align: center;
  font-size: 1em;
  background-color: rgba(179, 188, 32, 0.1);
  color: #888;
  border: none;
  box-shadow: -1px 3px 3px #888;
}
.add-list h4, .add-list h1 {
  color: #888;
}


.modal-overlay {
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  position: fixed;
  background-color: rgba(10, 10, 20, 0.5);
  z-index: 100;
}

.modal {
  background-color: white;
  width: 60vw;
  margin: 24vh auto;
  padding: 5vh 5vw;
  display: flex;
  flex-direction: column;
  align-items:  flex-start;
}

.modal-form {
  width: 50vw;
  display: flex;
  flex-wrap: all;
}

.modal-form label {
  min-width: 100px;
  text-align: left;
  flex-grow: 1;
  font-size: 0.9em;
  margin-top: 5px;
}

.modal-form .modal-input {
  margin: 5px;
  padding: 2px;
  border: 1px solid #ddd;
  width: 40vw;
  min-width: 200px
}
.modal-form textarea {
  box-shadow: -1px 1px 2px #bbb;
  height: 20vh;
}

.modal-form button {
  width: 15vw;
  margin: 5px 5vw;
}

.modal-form button.delete-btn {
  background-color: #ef6a53;
}

#modal-complete-checkbox {
 display: inline-block;
}
